$font-size: 1.3em
$title-font-color: 4em
$input-line-height: 40px

$primary: #40C782
$primary-dark: #15814A

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  color: #ffffff
  height: 100%
  background-image: url(../images/bg_nature.jpg)


@import "index"
@import "weather"
