.weather-component
  width: 100%
  padding: 3%
  background-color: white
  color: black
  border: 2px solid $primary

.weather-temperature
  display: flex
  flex-direction: row
  margin-top: 0.8rem

  .temperature_now
    font-size: 2em
    margin-right: 1rem

  .temperature_like
    align-items: flex-end
    padding-top: 1rem

.weather-parameters
  display: flex
  flex-direction: row
  margin-top: 0.8rem

  .parameter
    margin-right: 2rem
