doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    title ITMO Web Dev Lab 1
  body
    .container
      .weather
        .weather-header
          h1 Web Dev Lab 1
          .weather-input
            input#city-input(placeholder="Введите город")
            button#search-btn Найти
        .weather-main
          //include components/weather.pug
