doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    title ITMO Web Dev Lab 1
  body
    .container
      .weather
        .weather-header
          h1 Web Dev Lab 1
          .weather-input
            input#city-input(placeholder="Введите город")
            button#search-btn Найти
              i.fa.fa-circle-o-notch.fa-spin
        .weather-main
          // weather component will be inserted here
